.bottom_of_page {
    height: 150px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    pointer-events: none;
}

.bottom_of_page button {
    width: 100px;
    height: 100px;
    margin: auto;
    border: solid 1px gray;
    border-radius: 200px;
    box-shadow: 0 0 5px grey;
    font-size: 50px;
    pointer-events: all;
}

#reorder_tasks {
    margin-left: 100px;
    margin-right: 120vmin;
    font-size: 20px;
}

#add_task {
    margin-right: 100px;
    padding-bottom: 10px;
}