.footer {
    height: 150px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

.footer_contents {
    height: 150px;
    width: 100%;
    margin: auto;
    background-color: white;
    border-top: 0.5px solid black;
    display: flex;
}

.bottom_of_page {
    height: 150px;
}

.add_task {
    width: 500px;
    height: 100px;
    margin: auto;
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 0 0 5px grey;
    font-size: 50px;
}