.description {
    grid-area: task;
    border: none;
    font-size: 20px;
    width: auto;
}

.date {
    grid-area: date;
    border: none;
    font-size: 20px;
    color: grey;
    width: 150px;
}

.deleteButton {
    grid-area: delete;
    text-align: center;
    border-radius: 20px;
}

.TaskFrame {
    display: grid;
    grid-template-areas:
        'task task task task task delete'
        'date date date date date delete';
    gap: 10px;
    padding: 7px;
    width: 75vmin;
    margin: auto;
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 0 0 5px grey;
}